@model WebBid.Models.ViewModels.MatchPreparationViewModel
@{
    ViewBag.Title = "Preparation of match";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<h2>Match preparation</h2>

@using (Html.BeginForm("Save", "MatchPreparation", FormMethod.Post))
{
    foreach (var player in Model.Match.Players)
    {
        <div class="divTable">
            <div class="divTableBody">
                <div class="divTableRow">
                    <div class="divTableCell">
                        @Html.Partial("_Player", player)
                    </div>
                    <div class="divTableCell">
                        @Html.ActionLink("Edit", "EditPlayer", new { playerGuid = player.PlayerGuid }, new { @class = "btn btn-primary" })
                        @Html.ActionLink("Remove", "RemovePlayer", new { playerGuid = player.PlayerGuid }, new { @class = "btn btn-danger" })
                    </div>
                </div>
            </div>
        </div>
        <br />
    }

    <div>
        @Html.ActionLink("Add player", "New", "Player", null, new { @class = "btn btn-primary" })
    </div>
    <br /><br />
    <div>
        @Html.HiddenFor(m => m.Match.Players)
        <button type="submit" class="btn btn-outline-success">Save</button>
    </div>
}